@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vente extension de cheveux</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>BIENVENUE SUR LE SITE DE VENTE D'EXTENSIONS DE CHEVEUX</h2>
        <p>
            Nous vous proposons des extensions de cheveux de tres hautes qualites à tres bons prix
        </p>
    </div>
    
</div>